/* Instructions Popup */
#is-instructions {
    display: flex !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: opacity 0.3s ease-in-out !important;
}

#is-instructions.is-active {
    opacity: 1 !important;
    pointer-events: auto !important;